<div id="myModal" class="modal fade" tabindex="-1" role="dialog" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Contactar con Gallastegui</h4>
      </div>
      <form class="form-horizontal" name="contactForm">
      <div class="modal-body">
		  <div class="form-group" >
		    <label for="inputEmail3" class="col-sm-2 control-label">Tu nombre</label>
		    <div class="col-sm-10">
				<input name="contactName" placeholder="Nombre"
									class="form-control input-lg requiredField" type="text"
									data-error-empty="Introduce tu nombre" ng-model="mail.name"
									required>                      
		  	</div>
		  </div>
		  <div class="form-group">
		    <label for="inputPassword3" class="col-sm-2 control-label">Contacto</label>
		    <div class="col-sm-10">
			<input name="email" placeholder="Email"
								class="form-control input-lg requiredField" type="email"
								data-error-invalid="El email no es válido"
								data-error-empty="Introduce un email válido"
								ng-model="mail.from" required>		    
		  	</div>
		  </div>
		  
		  <div class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">Área</label>
		    <div class="col-sm-10">
				<select class="form-control" name="subject" ng-model="mail.subject" >
				  <option>Mantenimiento</option>
				  <option>Energía/iluminación</option>
				  <option>Automatización/Robótica</option>
				  <option>Sugerencia</option>
				</select>		    
			</div>
		  </div>
		  
		  <div class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">¿Cómo podemos ayudarte?</label>
		    <div class="col-sm-10">
		      <textarea class="form-control requiredField" rows="5" ng-model="mail.text"
				data-error-invalid="El texto no es válido"
				data-error-empty="Introduce una consulta" required></textarea>
		    </div>
		  </div>
		  
      </div>

                      
      <div class="modal-footer">
        <!-- /Col  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>-->
 		<button name="submit" type="submit" class="btn btn-info btn-block"
						ng-disabled="sendingMail"
						ng-click="sendMailContact(contactForm.$valid)"
						data-error-message="Error!" data-sending-message="Enviando..."
						data-ok-message="Mensaje enviado">Enviar consulta</button>
				   <!--  " -->
	</div>
			</form>
	
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->