<!DOCTYPE html>
<html lang="en">

<% include ../head %>

<body>
 <!-- Navigation -->
    <% include ../header %>
    
    <!-- Page Content -->
    
           <!-- Image Header -->
<div class="jumbotron banner yellow">
  <div class="container">
  <div class="col-lg-12 ">
      <h1>El mundo es IABOT&reg;</h1>
      <h2>Automatización inteligente de los procesos 
      <br>productivos de fábricas e instalaciones</h2>
  </div>

  </div>
</div>
    <div class="container">

      
  	<!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="/">Gallastegui</a>
                    </li>
                    <li class="active">Automatización y robótica</li>
                </ol>
            </div>
        </div>
  	<!-- /.row -->

        <!-- Service Panels -->
        <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header blue">Automatización</h2>
            </div>
           	<p class="panel">Estamos desarrollando esta sección. Vuelve pronto!</p>
        </div>
        <!-- /.row -->
 
 	<!-- Our Customers -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header blue">Empresas de éxito confian en Gallastegui</h2>
            </div>
            <br>
            <br>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="/img/logos/logo_thyssen_3.jpg" alt="Mantenimiento de instalaciones industriales">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="/img/logos/logo_kimberly.jpg" alt="Instalaciones de baja tensión, cuadros de control y maniobra.">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="/img/logos/logo_arcelor.jpg" alt="Mantenimiento de fábricas de laminación del Acero.">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="/img/logos/logo_nemak.jpg" alt="Manteimiento de instalaciones de inyeccion de Aluminio.">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="/img/logos/logo_gamesa.jpg" alt="Mantenimiento y metrología de reductores eólicos e industriales.">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="/img/logos/logo_trelleborg.jpg" alt="Automatización y adecuación de maquinaria.">
            </div>
        </div><!-- /.row customers -->
       
    </div> <!-- /.container -->
        

    <br><br><br>
    
    <div class="container">
	    <div class="col-lg-12 text-center">
	         <a href="/servicios/galeria.html" class="btn btn-lg btn-info" role="button">Ver ejemplos</a>
		 </div>
     </div><!-- /.container -->
     
     
     <br><br><br>
     
       

<!-- Footer -->
	
	<% include ../footer %>
    <!-- /.container -->

    <!-- jQuery Version 1.11.0 -->
    <script src="../js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

</body>

</html>
