<!DOCTYPE html>
<html lang="en">

 <% include ../head %>


<body>
 <!-- Navigation -->
    <% include ../header %>


       <!-- Image Header -->
<div class="jumbotron banner green">
  <div class="container">
  <div class="col-lg-12 ">
      <h1>Conoce ILUNA&reg;</h1>
      <h2>Instalaciones de Energía e Iluminación
      <br>para dar luz a tus proyectos.</h2>
  </div>

  </div>
</div>
        <!-- /.row -->
    <!-- Page Content -->
    <div class="container">

 
		  <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="/">Gallastegui</a>
                    </li>
                    <li class="active">Energía e Iluminación</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <!-- Service Panels -->
        <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header blue">Energía: el comienzo de todo</h2>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default ">
                    <div class="text-center">
                    	<img class='service-item' src='../img/items/item_enchufe_smart.jpg'>
                       <!-- <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x blue"></i>
                              <i class="fa fa-tree fa-stack-1x fa-inverse"></i>
                        </span> -->
                    </div>
                    <div class="panel-body">
                        <h4>Electricidad</h4>
                        <p>Gallastegui, 40 años diseñando, instalando y manteniendo
                        instalaciones eléctricas para el tejido industrial vasco.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default ">
                    <div class="text-center">
                    	<img class='service-item' src='../img/items/item_panel_solar.jpg'>
                    </div>
                    <div class="panel-body">
                        <h4>Renovables</h4>
                        <p>Instalamos y mantenemos
                        proyectos para el abastecimiento
                        energético sostenible en domicilios y empresas.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default ">
                    <div class="text-center">
                 		<img class='service-item' src='../img/items/item_termica_acumulador.jpg'>
                    </div>
                    <div class="panel-body">
                        <h4>Gas y Calefacción</h4>
                        <p>Instalamos y mantenemos todo tipo de acumuladores, radiadores y aparatos de frío-calor para uso doméstico e industrial.</p>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default ">
	                    <div class="text-center">
	                 		<img class='service-item' src='../img/items/item_eficiencia_energetica.jpg'>
	                    </div>
                    <div class="panel-body">
                        <h4>Eficiencia energética</h4>
                        <p>Certificados y estudios energéticos, iluminación led, alumbrado.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Service List -->
        <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header blue">Soluciones llave en mano</h2>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-1x">
                              <i class="fa fa-circle fa-stack-1x blue"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Instalaciones eléctricas BT/AT</h4>
                        <p>En Gallastegui acumulamos una gran experiencia en montajes eléctricos industriales, edificación y alumbrado exterior.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-1x">
                              <i class="fa fa-circle fa-stack-1x blue"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Cuadros de control y maniobra</h4>
                        <p>Diseño, montaje, instalación y mantenimiento de cuadros de control
                        y maniobra.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-1x">
                              <i class="fa fa-circle fa-stack-1x blue"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Iluminación LED</h4>
                        <p>Descubre las posibilidades de una iluminación eficiente
                        para oficinas, fábricas y viviendas.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-1x">
                              <i class="fa fa-circle fa-stack-1x blue"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Instalación de placas solares</h4>
                        <p>Te asesoramos y estudiamos cada caso para sacar el máximo rendimiento
                        a tus intalaciones solares, acumuladores y sistemas de almacenamiento de energía.</p>
                    </div>
                </div>
               
            </div>
            <div class="col-md-4">
                 <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-1x">
                              <i class="fa fa-circle fa-stack-1x blue"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Gas y calefacción</h4>
                        <p>Servicio técnico oficial ELNUR en Bizkaia. Instalación y mantenimiento de calderas
                        de gas y eléctricas. Instalación y mantenimiento de acumuladores.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-1x">
                              <i class="fa fa-circle fa-stack-1x blue"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Eficiencia energética</h4>
                        <p>Realización de estudios energéticos. Certificados.</p>
                    </div>
                </div>
               
            </div>
        </div>
        <!-- /.row -->
        <!-- Service Tabs -->
 <div class="row">
   			<div class="col-lg-12">
                <h2 class="page-header blue">Cómo lo hacemos</h2>
            </div> 

                 <div class="col-md-4 col-sm-6">
                <div class="panel">
                    <div class="panel-heading   text-center">
                        <span class="fa-stack fa-5x icon-normal">
                              <i class="fa fa-cogs fa-stack-1x blue"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h2 class="text-center">Coordinación</h2>
                        <br>
                        <p>Coordinamos los diferenetes gremios para que tú no tengas que preocuparte
                        por nada.
                        </p>
                        <br>
                        <ul class="fa-ul">
						  <li><i class="fa-li fa fa-check-square blue"></i>Decoración</li>
						  <li><i class="fa-li fa fa-check-square blue"></i>Arquitectura</li>
						  <li><i class="fa-li fa fa-check-square blue"></i>Construcción</li>
						</ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel">
                    <div class="panel-heading text-center">
                        <span class="fa-stack fa-5x icon-normal">
                              <i class="fa fa-sliders fa-stack-1x blue"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h2 class="text-center">Seguimiento</h2>
                        <br>
                        <p>Revisamos todos los hitos del proyecto y velamos por la seguridad en el
                        cumplimiento de los plazos y requisitos de contratación..</p>
                        <br>
                        <ul class="fa-ul">
						  <li><i class="fa-li fa fa-check-square blue"></i>Reuniones periódicas</li>
						  <li><i class="fa-li fa fa-check-square blue"></i>Visitas en obra</li>
						  <li><i class="fa-li fa fa-check-square blue"></i>Informes de seguimiento</li>
						</ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel">
                    <div class="panel-heading   text-center">
                        <span class="fa-stack fa-5x icon-normal">
                             <i class="fa fa-line-chart fa-stack-1x blue"></i>
                              
                        </span>
                    </div>
                    <div class="panel-body">
                        <h2 class="text-center">Llave en mano</h2>
                        <br>
                        <p>Llámanos. Ahora descansa. Con Gallastegui tus proyectos de iluminación 
                        e instalaciones son así de sencillo.</p>
                        <br>
                        <ul class="fa-ul">
						  <li><i class="fa-li fa fa-check-square blue"></i>Facilidades de pago</li>
						  <li><i class="fa-li fa fa-check-square blue"></i>Realizamos todos los trámites</li>
						  <li><i class="fa-li fa fa-check-square blue"></i>Auditorías y certificaciones</li>
						</ul>
                    </div>
                </div>
            </div>

        </div>   



    </div>
    <br><br><br>
    
    <div class="container">
	    <div class="col-lg-12 text-center">
	         <a href="/servicios/galeria.html" class="btn btn-lg btn-info" role="button">Ver ejemplos</a>
		 </div>
     </div>
     
     <br><br><br>
     
     
    
	<!-- Footer -->
    <% include ../footer %>

    <!-- /.container -->

    <!-- jQuery Version 1.11.0 -->
    <script src="../js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

</body>

</html>
