<!DOCTYPE html>
<html lang="en">

<% include ../head %>

<body>

     <!-- Navigation -->
    
    <% include ../header %>

 		
	<br><br><br><br><br><br><br>

    <!-- Page Content -->
    <div class="container">
 <!-- Team Members -->
 		<!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="/">Inicio</a>
                    </li>
                    <li class="active">Galeria de proyectos</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

       <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header blue">MANTENIMIENTO INDUSTRIAL</h2>
            </div>
              <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="/img/galeria/automatizacion_trelleborg.jpg" alt="Fabricación de maquinaría robotizada">
                    <div class="caption">
                        <h3>TRELLEBORG - Automoción<br>
                            <small>Mantenimiento Industrial</small>
                        </h3>
                        <p>Ejecución de mantenimiento preventivo y correctivo.</p>
                        
                    </div>
                </div>
               </div>
               
               <div class="col-md-4 text-center">
            
                <div class="thumbnail">
                    <img class="img-responsive" src="/img/logos/itp.jpg"" alt="Reparación de maquinaria y mantenimiento.">
                    <div class="caption">
                        <h3>ITP - Aeronaútico
                        	<br>
                            <small>Reparación de maquinaria</small>
                        </h3>
                        <p>Diseñamos diferentes soluciones para abordar los retos en el mantenimiento de las instalaciones
                         y artefactos de Industrias
                        de Turbo Propulsores..</p>
                       <!--  <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>--> 
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="/img/galeria/mantenimiento_naval_marineria.jpg" alt="Mantenimiento naval, marineria">
                    <div class="caption">
                        <h3>LA NAVAL - Naval<br>
                            <small>Marinería y enganche</small>
                        </h3>
                        <p>Servicios de marinería y enganche, mantenimiento de grúas y mantenimiento preventivo y correctivo 
                        de las instalaciones del astillero.</p>
                       
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="/img/logos/logo_gamesa.jpg" alt="Reductoras industriales y eólicas">
                    <div class="caption">
                        <h3>GAMESA - Renovables<br>
                            <small>Mantenimiento de reductoras</small>
                        </h3>
                        <p>Mantenimiento, inspección, revisión y metrología de reductoras eólicas e industriales.</p>
                      
                    </div>
                </div>
            </div>
           
        </div>
        <!-- /.row -->
          <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header blue">ENERGÍA E ILUMINACIÓN</h2>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="/img/galeria/led_industrial_eficiencia.jpg" alt="Eficiencia energética, iluminación led industrial">
                    <div class="caption">
                        <h3>VICRILA - Vidrio<br>
                            <small>Eficiencia energética</small>
                        </h3>
                        <p>Instalación de sistemas de iluminación LED y ahorro energético.</p>
                       
                    </div>
                </div>
            </div>
                        <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="/img/logos/logo_kimberly.jpg" alt="Instalaciones eléctricas de baja tensión. Montajes de cuadros eléctricos.">
                    <div class="caption">
                        <h3>KIMBERLY-CLARK - Celulosa<br>
                            <small>Instalaciones BT</small>
                        </h3>
                        <p>Diseño y montaje de instalaciones eléctricas de baja tensión.</p>
                        
                    </div>
                </div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header blue">AUTOMATIZACIÓN Y ROBÓTICA</h2>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="/img/galeria/automatizacion_trelleborg.jpg" alt="Automatización en Trelleborg">
                    <div class="caption">
                        <h3>TRELLEBORG - Automoción<br>
                            <small>Automatización</small>
                        </h3>
                        <p>Diseño y fabricación de maquinaria industrial automatizada para el alineado, centrado y corte
                        de goma.</p>
               
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="/img/logo/LOGOEBAKI160.jpg" alt="Automatización y adecuación de maquinaria industrial.">
                    <div class="caption">
                        <h3>EBAKI - Madera<br>
                            <small>Automatización industrial</small>
                        </h3>
                        <p>Automatización de diferentes procesos en la fabricación y tratamiento de madera.</p>
                      
                    </div>
                </div>
            </div>
         </div>

     </div>
     <br><br>
      
<!-- Footer -->
    <% include ../footer %>


    <!-- /.container -->

    <!-- jQuery Version 1.11.0 -->
    <script src="../js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

</body>

</html>
