<!DOCTYPE html>
<html lang="en">

<% include ../head %>

<body 
	ng-app="web" 
    ng-controller="mailCtrl">
    
	<!--  ng-init="getCartData()"-->

<% include ../header %>

<div class="jumbotron banner blue">
  <div class="container">
  <div class="col-lg-12 ">
      <h1>Descubre MIA&reg;</h1>
      <h2>Mantenimiento Integral Avanzado,
      <br>un nuevo concepto de mantenimiento para la industria 4.0</h2>
  </div>

  </div>
</div>
 
   <!-- /.row -->
<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="/">Gallastegui</a>
                    </li>
                    <li class="active">Mantenimiento Integral</li>
                </ol>
            </div>
        </div>
   <!-- /.row -->

        <!-- Service List -->
        <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
        <br><br>
        <div class="row">
	         
	            <div class="col-lg-12">
	            	<div class="alert col-lg-8" role="alert">
		            	La industria competitiva precisa un <b>mantenimiento</b> profesional
		            	<b>adaptado</b> a los requisitos específicos de la producción. <br><br>
		            	En <b>Gallastegui</b> sabemos que un servicio de <b>calidad</b> y una
		            	respuesta <b>inmediata</b> son dos factores imprescindibles para la productividad y <b>eficiencia</b> 
		            	de las instalaciones de nuestros clientes.
	           	 		
	           	 	</div>
	           	 	<div class="col-lg-4 text-center">
	           	 		<button class="btn btn-lg btn-info" data-toggle="modal" data-target="#myModal">Contactar</button>
	           	 		<!-- Button trigger modal -->
	           	 		<button class="btn btn-lg btn-info" data-toggle="modal" data-target="#myModal">Solicitar visita</button>
	           	 		<br><br>
	           	 		<div class="row"><h2>ALWAYS ON&reg;</h2></div>
	           	 	</div>
	            </div>
	     
		</div>
		<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header blue">Mantenimiento 4.0, 1a solución xa todas tus ncsidads</h2>
            </div>
           
           
            <div class="col-lg-12">
            
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default">
                    <div class=" text-center">
                 		 <span class="fa-stack fa-5x">
                              <i class="fa fa-industry fa-stack-1x blue"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Mantenimiento industrial</h4>
                        <p>
                        En Gallastegui somos expertos en el OUTSOURCING y la aplicación de metodologías TPM y 5S. 
                        <br>
                        <br>
                        <ul class="fa-ul">
						  <li><i class="fa-li fa fa-check-square blue"></i>+ 2000m2 de instalaciones propias</li>
						  <li><i class="fa-li fa fa-check-square blue"></i>+ 45 años acumulando Know-How</li>
						  <li><i class="fa-li fa fa-check-square blue"></i><b>ALLWAYS ON SERVICE</b></li>
						</ul>
                          </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default">
 					<div class=" text-center">
						<span class="fa-stack fa-5x">
                              <i class="fa fa-building-o fa-stack-1x blue"></i>
                        </span>                    </div>
                    <div class="panel-body">
                        <h4>Mantenimiento de instalaciones</h4>
                        <p>Mantenimiento y puesta a punto de instalaciones industriales, fábricas y naves. 
                        <br>
                        <br>
                       <ul class="fa-ul">
                       		<li><i class="fa-li fa fa-check-square blue"></i> Trabajos de adecuación 5S</li>
                       		<li><i class="fa-li fa fa-check-square blue"></i> Limpieza de precisión e industrial</li>
                        	<li><i class="fa-li fa fa-check-square blue"></i> Pintura industrial</li>
                       		
                       </ul>
                       
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default">
					<div class=" text-center">
						<span class="fa-stack fa-5x">
                              <i class="fa fa-wrench fa-stack-1x blue"></i>
                        </span>                    </div>
                    <div class="panel-body">
                        <h4>Adecuación de maquinaría</h4>
                        <p>Reparación de maquinaria industrial. Mecanizados, rectificados y recostrucciones.
                        <br><br>
                        Automatización de procesos de fabricación y adecuación de maquinaría.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default">
					<div class=" text-center">
						<span class="fa-stack fa-5x">
                              <i class="fa fa-cog fa-stack-1x blue"></i>
                        </span>                    </div>
                    <div class="panel-body">
                        <h4>Motores eléctricos</h4>
                        <p>Especialistas en la reparación y bobinado de calidad de todo tipo de motores eléctricos desde 1970. 
                        <br><br>
                        Realizamos cambios de voltaje-potencia y reconstrucciones completas.
                  		</p>
                  	</div>
                  </div>
               </div>
        <div class="row">
		   <div class="col-lg-12">
                <h2 class="page-header blue">Qué hacemos</h2>
           </div>
	            
            <div class="col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-1x">
                              <i class="fa fa-circle fa-stack-1x blue"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Mantenimiento predictivo</h4>
                        <p>Mediciones y análisis de aceites, <b>termografías</b> y vibraciones.
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left blue">
                        <span class="fa-stack fa-1x">
                              <i class="fa fa-circle fa-stack-1x blue"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Mantenimiento preventivo</h4>
                        <p>Elaboración y ejecución de programas de <b>mantenimiento preventivo</b> y 
                        <b>mantenimiento programado</b>.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-1x">
                              <i class="fa fa-circle fa-stack-1x blue"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Mantenimiento correctivo</h4>
                        <p>Reparaciones eléctrico-mecánicas y adecuación de todo tipo de maquinaría industrial. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-1x">
                              <i class="fa fa-circle fa-stack-1x blue"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Caldedería y soldadura</h4>
                        <p>Construcción de depósitos industrial para almacenaje y transporte, construcción
                        naval y estructuras metálicas.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-1x">
                              <i class="fa fa-circle fa-stack-1x blue"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Limpiezas industriales</h4>
                        <p>Limpieza criogénica, chorro de arena, vapor y agua caliente. Limpiezas de maquinaria industrial,
                        pabellones y edificios.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-1x">
                              <i class="fa fa-circle fa-stack-1x blue"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Reparación de maquinaría industrial</h4>
                        <p>Reparación y adecuación de todo tipo de maquinaría industrial.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-1x">
                              <i class="fa fa-circle fa-stack-1x blue"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Motores y Rebobinados</h4>
                        <p>Especialistas en el bobinado de motores de todas las potencias. Limpieza, bobinado, pintura y conversiones de voltaje.</p>
                    </div>
                </div>
              
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-1x">
                              <i class="fa fa-circle fa-stack-1x blue"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Marinería</h4>
                        <p>Servicios de marinería y enganche de buques.</p>
                        <!-- <div class="media-body">
                        <h4 class="media-heading">Servicio Tranquilidad 24 horas</h4>
                        <p>Porque tu fábrica no descansa, nosotros tampoco. Disfruta de nuestro servicio
                        integral 24 horas para mantener los niveles de producción los 365 días del año.</p>
                    </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
		<br>
		<br>
		<!-- <div class="row">
   			<div class="col-lg-12">
                <h2 class="page-header blue">Cómo lo hacemos</h2>
            </div> 

                 <div class="col-md-4 col-sm-6">
                <div class="panel">
                    <div class="panel-heading   text-center">
                        <span class="fa-stack fa-5x icon-normal">
                              <i class="fa fa-cogs fa-stack-1x blue"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h2 class="text-center">Mantenimiento</h2>
                        <br>
                        <p>Aplicamos la Ingeniería del Mantenimiento para 
                        aumentar la eficiencia de tus centros productivos. 
                        </p>
                        <br>
                        <ul class="fa-ul">
						  <li><i class="fa-li fa fa-check-square blue"></i>+ 1000m2 de instalaciones propias</li>
						  <li><i class="fa-li fa fa-check-square blue"></i>+ 45 años trabajando para la industria</li>
						  <li><i class="fa-li fa fa-check-square blue"></i></li>
						</ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel">
                    <div class="panel-heading text-center">
                        <span class="fa-stack fa-5x icon-normal">
                              <i class="fa fa-sliders fa-stack-1x blue"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h2 class="text-center">Integral</h2>
                        <br>
                        <p>Una única solución para cubrir todas tus necesidades de mantenimiento.
                        Te beneficiarás de:</p>
                        <br>
                        <ul class="fa-ul">
						  <li><i class="fa-li fa fa-check-square blue"></i>Tiempo de respuesta</li>
						  <li><i class="fa-li fa fa-check-square blue"></i>Mejores precios</li>
						  <li><i class="fa-li fa fa-check-square blue"></i>Facilidades de pago</li>
						</ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel">
                    <div class="panel-heading   text-center">
                        <span class="fa-stack fa-5x icon-normal">
                             <i class="fa fa-line-chart fa-stack-1x blue"></i>
                              
                        </span>
                    </div>
                    <div class="panel-body">
                        <h2 class="text-center">Avanzado</h2>
                        <br>
                        <p>Servicios de consultoría, automatización y robótica para
                        incrementar la productividad de tu empresa.</p>
                        <br>
                        <ul class="fa-ul">
						  <li><i class="fa-li fa fa-check-square blue"></i>Servicios de consultoria</li>
						  <li><i class="fa-li fa fa-check-square blue"></i>Automatización de procesos</li>
						  <li><i class="fa-li fa fa-check-square blue"></i>Cuadro de mandos</li>
						</ul>
                    </div>
                </div>
            </div>

        </div>   
       <div class="row">
   			<div class="col-lg-12">
                <h2 class="page-header blue">Qué conseguimos</h2>
            </div> 
               			<div class="col-lg-12">
            
            <div class="progress">
				  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
				    <span class="sr-only">Eficiencia</span>
				  </div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
				    <span class="sr-only">Productividad</span>
				  </div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="-60" aria-valuemin="-60" aria-valuemax="100" style="width:80%">
				    <span class="sr-only">Mejora del Tiempo de respuesta medio</span>
				  </div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
				    <span class="sr-only">80% Complete (danger)</span>
				  </div>
				</div>
				</div>
        </div> 
         -->

</div></div>
      
        
        
        
        <!-- Our Customers -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header blue">Empresas de éxito confian en Gallastegui</h2>
            </div>
            <br>
            <br>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="/img/logos/logo_thyssen_3.jpg" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="/img/logos/logo_kimberly.jpg" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="/img/logos/logo_arcelor.jpg" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="/img/logos/logo_nemak.jpg" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="/img/logos/logo_gamesa.jpg" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="/img/logos/logo_trelleborg.jpg" alt="">
            </div>
        </div>   
        </div>
        
        <!-- /.row -->
        

    </div>
    <br><br><br>
    
    <div class="container">
	    <div class="col-lg-12 text-center">
	         <a href="/servicios/galeria.html" class="btn btn-lg btn-info" role="button">Ver ejemplos</a>
		 </div>
     </div>
     
     <br><br><br>
     
    <!-- /.container -->

	
	<% include ../footer %>

    <!-- jQuery Version 1.11.0 -->
    <script src="../js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>
    

    

	<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-touch.min.js'></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-animate.js"></script>
	<!-- Angular sanitize para shop-->
	<script src="https://code.angularjs.org/1.2.20/angular-sanitize.min.js"></script>
	<!-- Angular Locale -->
	<script src="https://code.angularjs.org/1.0.2/i18n/angular-locale_es-es.js"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/bower-angular-translate/2.0.1/angular-translate.min.js'></script>
	<!-- Angular UI: fcsaNumber (Validar numeros con decimales en forms, etc)  -->
	<script src='/js/modules/fcsaNumber/fcsaNumber.js'></script>
	<!-- Angular UI: apps 
	<!-- app utils -->
	<script src='/js/shared/utils/utils.js'></script>
	
	<!-- app store-shop -->
	<script src='/js/web/web.js'></script>
	<script src='/js/web/web-controller.js'></script>
	<script src='/js/web/web-service.js'></script>
	<!-- directiva icheck -->

	<!-- Angular Dialogs Service lib -->
	<script src='/js/plugins/angular-dialogs-service/dialogs.js'></script>
	<script src='/js/plugins/angular-dialogs-service/dialogs-main.js'></script>
	<script src='/js/plugins/angular-dialogs-service/dialogs-services.js'></script>
	<script src='/js/plugins/angular-dialogs-service/dialogs-controllers.js'></script>
	<script src='/js/plugins/angular-dialogs-service/dialogs-default-translations.js'></script>
	<script src='/js/plugins/angular-dialogs-service/translate-substitution.js'></script>
	<script src='/js/ui-bootstrap-tpls-0.12.0.js'></script>
	<!-- Blue Imp fileUpload -->
	<script src="/js/fileupload/vendor/jquery.ui.widget.js"></script>
	<script src="/js/fileupload/jquery.iframe-transport.js"></script>
	<script src="/js/fileupload/jquery.fileupload.js"></script>

    <!-- /JavaScript
    ================================================== -->
    
   	<!-- AVISO COOKIES 
	<script type="text/javascript">
		function getCookie(c_name){
		    var c_value = document.cookie;
		    var c_start = c_value.indexOf(" " + c_name + "=");
		    if (c_start == -1){
		        c_start = c_value.indexOf(c_name + "=");
		    }
		    if (c_start == -1){
		        c_value = null;
		    }else{
		        c_start = c_value.indexOf("=", c_start) + 1;
		        var c_end = c_value.indexOf(";", c_start);
		        if (c_end == -1){
		            c_end = c_value.length;
		        }
		        c_value = unescape(c_value.substring(c_start,c_end));
		    }
		    return c_value;
		}
		 
		function setCookie(c_name,value,exdays){
		    var exdate=new Date();
		    exdate.setDate(exdate.getDate() + exdays);
		    var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
		    document.cookie=c_name + "=" + c_value;
		}
		 
		if(getCookie('tiendaaviso') == '1'){
		    document.getElementById("cookiesbar").style.display="none";
		}
		
		function addCookie() {
		    setCookie('tiendaaviso','1', 365);
		    document.getElementById("cookiesbar").style.display="none";
		}
	</script>-->
	<!--//FIN BLOQUE COOKIES-->
</body>

</html>
