<% include /modals/contact %>

<div id="cookiesbar" style="display: block;">
		<div class="inner">
			Solicitamos su permiso para obtener datos estadísticos de su
			navegación en esta web, en cumplimiento del Real Decreto-ley 13/2012.
			Si continúa navegando consideramos que acepta el uso de cookies. <a
				href="javascript:void(0);" class="ok" onclick="addCookie();"><b>OK</b></a>
			| <a href="/terms-conditions.html" target="_blank" class="info"
				title="Términos y condiciones">Más información</a>
		</div>
</div>
	
<!-- Footer -->
<footer id="footer">
	<div class="container">
    <div class="row">    
      <div class="col-xs-6 col-sm-6 col-md-3 column">          
          <h4>Servicios</h4>
          <ul class="nav">
            <li><a href="/servicios/mantenimiento.html">Mantenimiento Industrial</a></li>
            <li><a href="/servicios/energia.html">Energía e Iluminación</a></li>
            <li><a href="/servicios/automatizacion.html">Automatización y Robótica</a></li>
            <li><a href="/proyectos/galeria.html">Galería de Proyectos</a></li>
          </ul> 
        </div>
      <div class="col-xs-6 col-md-3 column">          
          <h4>Calidad</h4>
          <ul class="nav">
            <li><a href="#">ISO 9001</a></li>
            <li><a href="#">ISO 14001</a></li>
            <li><a href="#">OSHAS 18001</a></li>       
          </ul> 
      </div>
      <div class="col-xs-6 col-md-3 column">          
          <h4>Contacto</h4>
          <ul class="nav">
            <li><a href="/empresa/contacto.html">Localización</a></li>
            <li><a href="/empresa/contacto.html">Contacto</a></li>
          </ul> 
      </div>
      <div class="col-xs-6 col-md-3 column">          
          <h4>Empresa</h4>
          <ul class="nav">
            <li><a href="/empresa/corporacion.html">Empresa</a></li>
            <li><a href="/empresa/bolsadeempleo.html">Trabaja con nosotros</a></li>
            <li><a href="/empresa/responsabilidad_social.html">Compromiso - RSC</a></li>
          </ul> 
      </div>
    </div><!--/row-->
    <br>
      <div class="row text-center col-xs-8 col-sm-6 col-md-4 col-xs-offset-2 col-sm-offset-3 col-md-offset-4">
           <div class="col-xs-8"><img width="100%" src="/img/iso/iso9001oshas18001.png">
       </div>
    </div>
</footer>

 	<!-- AVISO COOKIES -->
	<script type="text/javascript">
		function getCookie(c_name){
		    var c_value = document.cookie;
		    var c_start = c_value.indexOf(" " + c_name + "=");
		    if (c_start == -1){
		        c_start = c_value.indexOf(c_name + "=");
		    }
		    if (c_start == -1){
		        c_value = null;
		    }else{
		        c_start = c_value.indexOf("=", c_start) + 1;
		        var c_end = c_value.indexOf(";", c_start);
		        if (c_end == -1){
		            c_end = c_value.length;
		        }
		        c_value = unescape(c_value.substring(c_start,c_end));
		    }
		    return c_value;
		}
		 
		function setCookie(c_name,value,exdays){
		    var exdate=new Date();
		    exdate.setDate(exdate.getDate() + exdays);
		    var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
		    document.cookie=c_name + "=" + c_value;
		}
		 
		if(getCookie('tiendaaviso') == '1'){
		    document.getElementById("cookiesbar").style.display="none";
		}
		
		function addCookie() {
		    setCookie('tiendaaviso','1', 365);
		    document.getElementById("cookiesbar").style.display="none";
		}
	</script>
	<!--//FIN BLOQUE COOKIES-->