<header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Ocultar/mostrar menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><span class="capital_logo">g</span>allastegui</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/servicios/mantenimiento.html">Mantenimiento</a>
                    </li>
            		<li>
                        <a href="/servicios/energia.html">Energia</a>
                    </li>
                    <li>
                        <a href="/servicios/ingenieria.html">Automatización</a>
                    </li>
                    <li>
                        <a href="/servicios/galeria.html">Galería</a>
                    </li>
                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Empresa <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/empresa/corporacion.html">Conónocenos</a>
                            </li>
                            <li>
                                <a href="/empresa/corporacion.html">Trabaja con nosotros</a>
                            </li>
                            <li>
                                <a href="/empresa/corporacion.html">Compromiso - RSC</a>
                            </li>
                            <li>
                                <a href="/empresa/contacto.html">Contacto</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</header>