<!DOCTYPE html>
<html lang="en">

<% include head %>

<body>

<!-- Navigation -->

<% include header %>


<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" ></li>
        <li data-target="#myCarousel" data-slide-to="2" ></li>
      </ol>
      
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="/img/bg_eolic.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Proveedor global de servicios para tu negocio, proyecto o idea.</h1>
              <p>Gallastegui es líder en la prestación de servicios para la industria y la construcción en Bizkaia, Araba, Guipuzkoa y Cantabria desde 1979.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="/img/bg_public_led.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>El servicio como principio. La calidad como servicio.</h1>
              <p>El cliente es nuestra razón de ser por eso empresas líderes en su sector confían en Gallastegui como aliado.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="/img/bg_buque.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>+ 45 años de Know-How aplicados a la productividad de tu empresa.</h1>
              <p>Una vida entera aprendiendo la mejor manera de hacer las cosas. </p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
      </a>
    </div>


<!-- Page Content -->
<div class="container">
		<div class="row">
        	<div class="col-lg-12">
             <h2 class="page-header blue">Industria 4.0, un paso por delante</h2>
         	</div>
         	<br>
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-default text-center">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-cogs fa-stack-2x text-primary"></i>
                        </span>
                    <div class="panel-body">
                        <h2>Mantenimiento global</h2>
                        <p>Mantenimiento Integral Avanzado para cubrir todas las necesidades
                        de mantenimiento de tu empresa.</p>
                        <a href="#" class="btn btn-primary btn-info">Conoce MÍA</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-default text-center">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-plug fa-stack-2x text-primary"></i>
                        </span>
                    <div class="panel-body">
                        <h2>Energía e iluminación</h2>
                        <p>Integramos soluciones innovadoras para dar luz a tus proyectos</p>
                        <a href="#" class="btn btn-primary btn-info">Descubre Iluna</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-default text-center">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-qrcode fa-stack-2x text-primary"></i>
                        </span>
                    <div class="panel-body">
                        <h3>Automatización y Robótica</h3>
                        <p>Bienvenido a la industria 4.0. The rise of the machines.</p>
                        <a href="#" class="btn btn-primary btn-info">El mundo es IABOT</a>
                    </div>
                </div>
            </div>
        </div>
        
        
		
      
		<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ 
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header blue">Mantenimiento 4.0, 1a solución xa todas tus ncsidads</h2>
            </div>
           
           
            <div class="col-lg-12">
            
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default">
                    <div class=" text-center">
                 		 <span class="fa-stack fa-5x">
                              <i class="fa fa-industry fa-stack-1x blue"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Mantenimiento</h4>
                        <p>
                        En Gallastegui somos expertos en el OUTSOURCING y la aplicación de metodologías TPM y 5S. 
                        <br>
                        <br>
                          </p>
                          <ul class="fa-ul">
						  <li><i class="fa-li fa fa-check-square blue"></i>Google industria 4.0</li>
						  <li><i class="fa-li fa fa-check-square blue"></i>Gamesa/li>
						  <li><i class="fa-li fa fa-check-square blue"></i>Noticiaas</li>
						   <li><i class="fa-li fa fa-check-square blue"></i>Gran tonelaje</li>
			</ul>
                           <div class="col-lg-12 text-center">
	         					<a href="/servicios/galeria.html" class="btn btn-lg btn-info" role="button">Saber más</a>
		 				</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default">
 					<div class=" text-center">
						<span class="fa-stack fa-5x">
                              <i class="fa fa-building-o fa-stack-1x blue"></i>
                        </span>                    </div>
                    <div class="panel-body">
                        <h4>Energía e Iluminación</h4>
                        <p>Mantenimiento y puesta a punto de instalaciones industriales, fábricas y naves. 
                        <br>
                        <br>
                       <ul class="fa-ul">
                       		<li><i class="fa-li fa fa-check-square blue"></i> En numeros</li>
                       		<li><i class="fa-li fa fa-check-square blue"></i> 100% sector privado</li>
                        	<li><i class="fa-li fa fa-check-square blue"></i> + 50 - 100 empleados</li>
                        	<li><i class="fa-li fa fa-check-square blue"></i> Facturación 2-5M </li>
                        	<li><i class="fa-li fa fa-check-square blue"></i> +5000 clientes satisfechos </li>
                            <li><i class="fa-li fa fa-check-square blue"></i> +45 años de historia</li>
                       </ul>
                       
                        </p>
                       <div class="col-lg-12 text-center">
	         					<a href="/servicios/galeria.html" class="btn btn-lg btn-info" role="button">Saber más</a>
		 				</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default">
					<div class=" text-center">
						<span class="fa-stack fa-5x">
                              <i class="fa fa-wrench fa-stack-1x blue"></i>
                        </span>                    </div>
                    <div class="panel-body">
                        <h4>Automatización</h4>
                        <p>Reparación de maquinaria industrial. Mecanizados, rectificados y recostrucciones.
                        <br><br>
                        Automatización de procesos de fabricación y adecuación de maquinaría.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default">
					<div class=" text-center">
						<span class="fa-stack fa-5x">
                              <i class="fa fa-cog fa-stack-1x blue"></i>
                        </span>                    </div>
                    <div class="panel-body">
                        <h4>Motores eléctricos</h4>
                        <p>Especialistas en la reparación y bobinado de calidad de todo tipo de motores eléctricos desde 1970. 
                        <br><br>
                        Realizamos cambios de voltaje-potencia y reconstrucciones completas.
                  		</p>
                  	</div>
                  </div>
               </div>
           end row    -->
           
         <div class="row">
   			<div class="col-lg-12">
                <h2 class="page-header blue">Qué conseguimos</h2>
            </div> 
               			<div class="col-lg-12">
            
            <div class="progress">
				  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
				    <span class="sr-only">Eficiencia</span>
				  </div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
				    <span class="sr-only">Productividad</span>
				  </div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="-60" aria-valuemin="-60" aria-valuemax="100" style="width:80%">
				    <span class="sr-only">Mejora del Tiempo de respuesta medio</span>
				  </div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
				    <span class="sr-only">80% Complete (danger)</span>
				  </div>
				</div>
				</div>
        </div> 
        <!-- end row -->
		<br>
		<br>
		<!-- <div class="row">
   			<div class="col-lg-12">
                <h2 class="page-header blue">Cómo lo hacemos</h2>
            </div> 

                 <div class="col-md-4 col-sm-6">
                <div class="panel">
                    <div class="panel-heading   text-center">
                        <span class="fa-stack fa-5x icon-normal">
                              <i class="fa fa-cogs fa-stack-1x blue"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h2 class="text-center">Mantenimiento</h2>
                        <br>
                        <p>Aplicamos la Ingeniería del Mantenimiento para 
                        aumentar la eficiencia de tus centros productivos. 
                        </p>
                        <br>
                        <ul class="fa-ul">
						  <li><i class="fa-li fa fa-check-square blue"></i>+ 1000m2 de instalaciones propias</li>
						  <li><i class="fa-li fa fa-check-square blue"></i>+ 45 años trabajando para la industria</li>
						  <li><i class="fa-li fa fa-check-square blue"></i></li>
						</ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel">
                    <div class="panel-heading text-center">
                        <span class="fa-stack fa-5x icon-normal">
                              <i class="fa fa-sliders fa-stack-1x blue"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h2 class="text-center">Integral</h2>
                        <br>
                        <p>Una única solución para cubrir todas tus necesidades de mantenimiento.
                        Te beneficiarás de:</p>
                        <br>
                        <ul class="fa-ul">
						  <li><i class="fa-li fa fa-check-square blue"></i>Tiempo de respuesta</li>
						  <li><i class="fa-li fa fa-check-square blue"></i>Mejores precios</li>
						  <li><i class="fa-li fa fa-check-square blue"></i>Facilidades de pago</li>
						</ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel">
                    <div class="panel-heading   text-center">
                        <span class="fa-stack fa-5x icon-normal">
                             <i class="fa fa-line-chart fa-stack-1x blue"></i>
                              
                        </span>
                    </div>
                    <div class="panel-body">
                        <h2 class="text-center">Avanzado</h2>
                        <br>
                        <p>Servicios de consultoría, automatización y robótica para
                        incrementar la productividad de tu empresa.</p>
                        <br>
                        <ul class="fa-ul">
						  <li><i class="fa-li fa fa-check-square blue"></i>Servicios de consultoria</li>
						  <li><i class="fa-li fa fa-check-square blue"></i>Automatización de procesos</li>
						  <li><i class="fa-li fa fa-check-square blue"></i>Cuadro de mandos</li>
						</ul>
                    </div>
                </div>
            </div>

        </div>   
       <div class="row">
   			<div class="col-lg-12">
                <h2 class="page-header blue">Qué conseguimos</h2>
            </div> 
               			<div class="col-lg-12">
            
            <div class="progress">
				  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
				    <span class="sr-only">Eficiencia</span>
				  </div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
				    <span class="sr-only">Productividad</span>
				  </div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="-60" aria-valuemin="-60" aria-valuemax="100" style="width:80%">
				    <span class="sr-only">Mejora del Tiempo de respuesta medio</span>
				  </div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
				    <span class="sr-only">80% Complete (danger)</span>
				  </div>
				</div>
				</div>
        </div> 
         -->


        
        
        
        <!-- Our Customers -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header blue">Empresas de éxito confian en Gallastegui</h2>
            </div>
            <br>
            <br>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="/img/logos/logo_thyssen_3.jpg" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="/img/logos/logo_kimberly.jpg" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="/img/logos/logo_arcelor.jpg" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="/img/logos/logo_nemak.jpg" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="/img/logos/logo_gamesa.jpg" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="/img/logos/logo_trelleborg.jpg" alt="">
            </div>
        </div>   
        </div>
        
        <!-- /.row -->
        

    </div>
    <br><br><br>
    
    <div class="container">
	    <div class="col-lg-12 text-center">
	         <a href="/servicios/galeria.html" class="btn btn-lg btn-info" role="button">Ver ejemplos</a>
		 </div>
     </div>
     
     <br><br><br>
     
    <!-- /.container -->

	<% include footer %>


    <!-- jQuery Version 1.11.0 -->
    <script src="../js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>
    
  
    

</body>

</html>
