<!DOCTYPE html>
<html lang="es">

<% include head %>

<body>

<!-- Navigation -->

<% include header %>


<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" ></li>
        <li data-target="#myCarousel" data-slide-to="2" ></li>
      </ol>
      
      <div class="carousel-inner" role="listbox">
         <div class="item active">
          <img class="first-slide" src="/img/bg_buque.jpg" alt="Mantenimiento industrial naval">
          <div class="container">
            <div class="carousel-caption">
              <h1>+ 45 años de Know-How aplicados a la productividad de tu empresa.</h1>
              <p>Una vida entera aprendiendo la mejor manera de hacer las cosas. Experiencia, Formación e Innovación. Nuestros pilares. </p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="/img/callout.jpg" alt="Mantenimiento instalaciones eléctricas">
          <div class="container">
            <div class="carousel-caption">
              <h1>Proveedor global de servicios para tu negocio, proyecto o idea.</h1>
              <p>Gallastegui es líder en la prestación de servicios para la industria y la construcción en Bizkaia, Araba, Guipuzkoa y Cantabria desde 1979.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="/img/bg_public_led.jpg" alt="Mantenimiento, automatización y robótica">
          <div class="container">
            <div class="carousel-caption">
              <h1>El servicio como principio. La calidad como servicio.</h1>
              <p>El cliente es nuestra razón de ser por eso empresas líderes en su sector confían en Gallastegui como aliado.</p>
            </div>
          </div>
        </div>
   
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
      </a>
    </div>


<!-- Page Content -->
<div class="container">
		<div class="row">
        	<div class="col-lg-12">
             <h2 class="page-header blue">Industria 4.0, un paso por delante</h2>
         	</div>
         	<br>
            <div class="col-md-4 col-sm-4">
                <div class="panel panel-default text-center">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-cogs fa-stack-2x text-primary"></i>
                        </span>
                    <div class="panel-body">
                        <h2>Mantenimiento global</h2>
                        <p>Mantenimiento Integral Avanzado para cubrir todas las necesidades
                        de mantenimiento de tu empresa.</p>
                        <a href="servicios/mantenimiento.html" class="btn btn-primary btn-info">Conoce MÍA</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="panel panel-default text-center">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-plug fa-stack-2x text-primary"></i>
                        </span>
                    <div class="panel-body">
                        <h2>Energía e iluminación</h2>
                        <p>Integramos soluciones innovadoras para dar luz a tus proyectos</p>
                        <a href="servicios/energia.html" class="btn btn-primary btn-info">Descubre Iluna</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="panel panel-default text-center">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-qrcode fa-stack-2x text-primary"></i>
                        </span>
                    <div class="panel-body">
                        <h3>Automatización y Robótica</h3>
                        <p>Bienvenido a la industria 4.0. The rise of the machines.</p>
                        <a href="/servicios/automatizacion.html" class="btn btn-primary btn-info">El mundo es IABOT</a>
                    </div>
                </div>
            </div>
        </div>
        
           
         <div class="row">
   			<div class="col-lg-12">
                <h2 class="page-header blue">Qué conseguimos</h2>
            </div> 
               			<div class="col-lg-12">
            
            <div class="progress">
				  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
				    <span>INCREMENTAMOS la EFICIENCIA del Mantenimiento</span>
				  </div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
				    <span>REDUCIMOS las PARADAS de Producción</span>
				  </div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="-60" aria-valuemin="-60" aria-valuemax="100" style="width:80%">
				    <span>MEJORAMOS el TIEMPO DE RESPUESTA</span>
				  </div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
				    <span>SIMPLIFICAMOS el MANTENIMIENTO</span>
				  </div>
				</div>
				</div>
        </div> 
        <!-- end row -->
		<br>
		<br>
        
        
        <!-- Our Customers -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header blue">Empresas de éxito confian en Gallastegui</h2>
            </div>
            <br>
            <br>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="/img/logos/logo_thyssen_3.jpg" alt="Mantenimiento de instalaciones industriales">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="/img/logos/logo_kimberly.jpg" alt="Instalaciones de baja tensión, cuadros de control y maniobra.">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="/img/logos/logo_arcelor.jpg" alt="Mantenimiento de fábricas de laminación del Acero.">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="/img/logos/logo_nemak.jpg" alt="Manteimiento de instalaciones de inyeccion de Aluminio.">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="/img/logos/logo_gamesa.jpg" alt="Mantenimiento y metrología de reductores eólicos e industriales.">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="/img/logos/logo_trelleborg.jpg" alt="Automatización y adecuación de maquinaria.">
            </div>
        </div>   
        </div>
        
        <!-- /.row -->
        

    </div>
    <br><br><br>
    
    <div class="container">
	    <div class="col-lg-12 text-center">
	         <a href="/servicios/galeria.html" class="btn btn-lg btn-info" role="button">Ver ejemplos</a>
		 </div>
     </div>
     
     <br><br><br>
     
    <!-- /.container -->

	<% include footer %>


    <!-- jQuery Version 1.11.0 -->
    <script src="../js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>
    


</body>

</html>
