<!DOCTYPE html>
<html lang="en">

<% include ../head %>

<body>

     <!-- Navigation -->
    
    <% include ../header %>

 		
	<br><br><br><br><br>

    <!-- Page Content -->
    <div class="container">
 <!-- Team Members -->
 		<!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="/">Inicio</a>
                    </li>
                    <li class="active">Bolsa de Empleo</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        
        <!-- <div class="row">
        
        <div class="col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-1x">
                              <i class="fa fa-circle fa-stack-1x blue"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Proyectos de mantenimiento</h4>
                    </div>
                </div>
                
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-1x">
                              <i class="fa fa-circle fa-stack-1x blue"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Energía e iluminación</h4>
                    </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-1x">
                              <i class="fa fa-circle fa-stack-1x blue"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Proyectos de automatización</h4>
                    </div>
                </div>
              </div>
              </Div>
      -->
       <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header blue">Convocatorias</h2>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <div class="caption">
                        <h3>Electromecánico<br>
                            <small>Mecatrónica industrial</small>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                       
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <div class="caption">
                        <h3>Director de proyectos<br>
                            <small>Project Manager</small>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                       
                    </div>
                </div>
            </div>
          
        </div>
        <!-- /.row -->
         
     <br><br>
      
<!-- Footer -->
    <% include ../footer %>


    <!-- /.container -->

    <!-- jQuery Version 1.11.0 -->
    <script src="../js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

</body>

</html>
