<!DOCTYPE html>
<html lang="en">

<% include ../head %>

<body>

     <!-- Navigation -->
    
    <% include ../header %>

 		
	<br><br><br><br><br><br><br>

    <!-- Page Content -->
    <div class="container">
 <!-- Team Members -->
 		<!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="/">Inicio</a>
                    </li>
                    <li class="active">Bolsa de Empleo</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        
        <!-- <div class="row">
        
        <div class="col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-1x">
                              <i class="fa fa-circle fa-stack-1x blue"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Proyectos de mantenimiento</h4>
                    </div>
                </div>
                
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-1x">
                              <i class="fa fa-circle fa-stack-1x blue"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Energía e iluminación</h4>
                    </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-1x">
                              <i class="fa fa-circle fa-stack-1x blue"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Proyectos de automatización</h4>
                    </div>
                </div>
              </div>
              </Div>
      -->
       <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header blue">Convocatorias</h2>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="/img/empleo/electromecanico.jpg" alt="Oferta de trabajo Electromecanico">
                    <div class="caption">
                        <h3>Electromecánico<br>
                            <small>Mecatrónica industrial</small>
                        </h3>
                        <p>Se precisan 5 electromecánicos para tareas de mantenimiento. 
                        <br><br>
                        Se valorará disposición y actitud para las funciones encomendadas.</p>
                        <br>
                        <a href="mailto:info@gallastegui.eu">Enviar CV</a>
                       
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="/img/empleo/ingeniero.jpg" alt="Oferta de trabajo Director de Proyectos">
                    <div class="caption">
                        <h3>Director de Proyectos<br>
                            <small>Project Manager</small>
                        </h3>
                        <p>Precisamos un Director de Proyectos de Mantenimiento con responsabilidad,
                        don de gentes y valía. <br><br>
                        Se requiere experiencia mínima de 5 años en puesto similar.</p>
                        <br>
                        <a href="mailto:info@gallastegui.eu">Enviar CV</a>   
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="/img/empleo/administrativa.jpg" alt="Oferta de trabajo Adminsitrativa">
                    <div class="caption">
                        <h3>Administrativo/a<br>
                            <small>Departamento Administración</small>
                        </h3>
                        <p>Seleccionamos persona resolutiva con conocimientos de Ofimática, Contabilidad,
                        Nóminas y sistemas telemáticos.<br><br>
                        No es imprescindible experiencia pero sí una buena actitud y formación.
                        </p>
                        <br>
                        <a href="mailto:info@gallastegui.eu">Enviar CV</a>   
                    </div>
                </div>
            </div>
          
        </div>
        <!-- /.row -->
         
     <br><br>
      </div>
<!-- Footer -->
    <% include ../footer %>


    <!-- /.container -->

    <!-- jQuery Version 1.11.0 -->
    <script src="../js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

</body>

</html>
