<!DOCTYPE html>
<html lang="en">

 <% include ../head %>

<body ng-app="web">

     <!-- Navigation -->
     <% include ../header %>

<br><br><br><br><br><br><br>
   <!-- Page Content -->
   
   
   
   
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="/">Gallastegui</a>
                    </li>
                    <li class="active">Contacto</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

       <section class="content-block default-bg ng-scope" ng-controller="mailCtrl">
        <!-- Container -->
        <div class="container no-pad-t">

          <!-- Row -->
          <div class="row">

            <!-- Main Col -->
            <div class="col-sm-8 col-md-8 mgb-30-xs" id="main-col">
 
                <h2 class="case-c">Contactar con Gallastegui</h2>
                
                <p>Si quieres más información o tienes alguna sugerencia que hacernos utiliza el siguiente formulario.</p>
                
       <!-- Comment Form -->
       		<br><br>
             <form class="form-horizontal">
				  <div class="form-group">
				    <label for="inputEmail3" class="col-sm-2 control-label">Tu nombre</label>
				    <div class="col-sm-10">
						<input name="contactName" placeholder="Nombre"
											class="form-control input-lg requiredField" type="text"
											data-error-empty="Introduce tu nombre" ng-model="mail.name"
											required>                      
				  	</div>
				  </div>
				  <div class="form-group">
				    <label for="inputPassword3" class="col-sm-2 control-label">Contacto</label>
				    <div class="col-sm-10">
					<input name="email" placeholder="Email"
										class="form-control input-lg requiredField" type="email"
										data-error-invalid="El email no es válido"
										data-error-empty="Introduce un email válido"
										ng-model="mail.from" required>		    
				  	</div>
				  </div>
				  
				  <div class="form-group">
				    <label for="inputEmail3" class="col-sm-2 control-label">Área</label>
				    <div class="col-sm-10">
						<select class="form-control">
						  <option>Mantenimiento</option>
						  <option>Energía/iluminación</option>
						  <option>Automatización/Robótica</option>
						  <option>Sugerencia</option>
						</select>		    
					</div>
				  </div>
				  
				  <div class="form-group">
				    <label for="inputEmail3" class="col-sm-2 control-label">¿Cómo podemos ayudarte?</label>
				    <div class="col-sm-10">
				      <textarea class="form-control requiredField" rows="5" ng-model="mail.text"
						data-error-invalid="El texto no es válido"
						data-error-empty="Introduce una consulta" required></textarea>
				    </div>
				  </div>
				  
		
		                      
		  
		 		<button name="submit" type="submit" class="btn btn-info btn-lg btn-block"
								ng-disabled="sendingMail"
								ng-click="sendMailContact(contactForm.$valid)"
								data-error-message="Error!" data-sending-message="Enviando..."
								data-ok-message="Mensaje enviado">Enviar consulta</button>
						   <!--  " -->
			</form>
                <!-- /Contact Form -->
                
            </div>
            
            <!-- /Main Col -->
            
            <!-- Side Col -->
            <div class="col-sm-4 col-md-4">

              <!-- Side Widget -->
              <div class="side-widget">
              
                <h5 class="boxed-title">NUESTRAS INSTALACIONES</h5>
                
                <!-- fader -->
                <div class="fader mgb-20">
                  <div id="gmap" style="position: relative; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223);">
						<a href="https://www.google.com/maps/place/43.26121, -2.93420/"> <img class="grayscale" width="100%" src="http://maps.googleapis.com/maps/api/staticmap?center=43.26121,-2.93420&amp;zoom=15&amp;scale=2&amp;size=1400x300&amp;maptype=roadmap&amp;format=png&amp;visual_refresh=true" alt="Mapa ubicación Moet">
						</a>
				  </div>
                  <!-- hidden -->
                  <div class="fader-hidden pcolor-bg white">
                    <!-- stuff to be revealed here ! -->
                    <div class="vcenter align-center">
                      <div class="vcenter-this">
                        <a data-target="#map-modal" data-toggle="modal" href="#"><span class="white">Ver en mapa</span></a>
                      </div>
                    </div>
                    <!-- /stuff to be revealed here ! -->
                  </div>
                  <!-- /hidden-->
                </div>
                <!-- /fader -->
                
                <!-- vlinks -->
                <ul class="vlinks vlinks-iconed vlinks-ruled-dots">
                  <li><i class="icon fa fa-home"></i>C/ Dr Diaz Emparanza 35, Bilbao <br> +34 94 444 98 48</li>
                  <li><i class="icon fa fa-home"></i>C/ Dr Diaz Emparanza 39, Bilbao<br> +34 94 444 98 48</li>
                  <ul class="vlinks vlinks-iconed vlinks-ruled-dots">
                  <li><i class="icon fa fa-home"></i>P.I Berreteaga Nave F1, Sondika <br> +34 94 471 18 60</li>
                  <li class="centered"><i class="icon fa fa-laptop"></i>info@gallastegui.eu</li>
                
                </ul>
                <!-- /vlinks -->
                
              </ul></div>
              <!-- /Side Widget -->
              
            </div>
            <!-- /Side Col -->

          </div>
          <!-- /Row -->
        
        </div>
        <!-- /Container -->
	</section>





       
   </div>
   <br><br><br>
    <!-- /.container -->
	
	<!-- Footer -->
 	<% include ../footer %>
 

    <!-- jQuery Version 1.11.0 -->
    <script src="../js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>
    
    	<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-touch.min.js'></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-animate.js"></script>
	<!-- Angular sanitize para shop-->
	<script src="https://code.angularjs.org/1.2.20/angular-sanitize.min.js"></script>
	<!-- Angular Locale -->
	<script src="https://code.angularjs.org/1.0.2/i18n/angular-locale_es-es.js"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/bower-angular-translate/2.0.1/angular-translate.min.js'></script>
	<!-- Angular UI: fcsaNumber (Validar numeros con decimales en forms, etc)  -->
	<script src='/js/modules/fcsaNumber/fcsaNumber.js'></script>
	<!-- Angular UI: apps 
	<!-- app utils -->
	<script src='/js/shared/utils/utils.js'></script>
	
	<!-- app store-shop -->
	<script src='/js/web/web.js'></script>
	<script src='/js/web/web-controller.js'></script>
	<script src='/js/web/web-service.js'></script>
	<!-- directiva icheck -->

	<!-- Angular Dialogs Service lib -->
	<script src='/js/plugins/angular-dialogs-service/dialogs.js'></script>
	<script src='/js/plugins/angular-dialogs-service/dialogs-main.js'></script>
	<script src='/js/plugins/angular-dialogs-service/dialogs-services.js'></script>
	<script src='/js/plugins/angular-dialogs-service/dialogs-controllers.js'></script>
	<script src='/js/plugins/angular-dialogs-service/dialogs-default-translations.js'></script>
	<script src='/js/plugins/angular-dialogs-service/translate-substitution.js'></script>
	<script src='/js/ui-bootstrap-tpls-0.12.0.js'></script>
	<!-- Blue Imp fileUpload -->
	<script src="/js/fileupload/vendor/jquery.ui.widget.js"></script>
	<script src="/js/fileupload/jquery.iframe-transport.js"></script>
	<script src="/js/fileupload/jquery.fileupload.js"></script>

    <!-- /JavaScript
    ================================================== -->
    

</body>

</html>
