<!DOCTYPE html>
<html lang="en">

<% include ../head %>

<body>
 <!-- Navigation -->
    <% include ../header %>
    
    <!-- Page Content -->
    
           <!-- Image Header -->
<div class="jumbotron banner yellow">
  <div class="container">
  <div class="col-lg-12 ">
      <h1>El mundo es IABOT&reg;</h1>
      <h2>Automatización inteligente de los procesos 
      <br>productivos de fábricas e instalaciones</h2>
  </div>

  </div>
</div>
    <div class="container">

      
  	<!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="/">Gallastegui</a>
                    </li>
                    <li class="active">Automatización y robótica</li>
                </ol>
            </div>
        </div>
  	<!-- /.row -->

        <!-- Service Panels -->
        <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header blue">Automatización</h2>
            </div>
           
        </div>
        <!-- /.row -->
 
 	<br><br><br>
    
    <div class="container">
	    <div class="col-lg-12 text-center">
	         <a href="/servicios/galeria.html" class="btn btn-lg btn-info" role="button">Ver ejemplos</a>
		 </div>
     </div>
     
     <br><br><br>
     
       

    </div>
<!-- Footer -->
	
	<% include ../footer %>
    <!-- /.container -->

    <!-- jQuery Version 1.11.0 -->
    <script src="../js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

</body>

</html>
