<!DOCTYPE html>
<html>
 <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="DESCRIPTION" content="Gallastegui - Bilbao (Vizcaya) - Proveedor global de servicios para la industria y la constucción. Instalaciones eléctricas. Mantenimiento industrial. Instalación de viviendas en construcción. Calefacción, redes informáticas.">
	<meta name="ROBOTS" content="all">
	<meta name="GOOGLEBOT" content="all">
	<meta name="KEYWORDS" content="GALLASTEGUI, ELECTRICIDAD, MANTENIMIENTO INDUSTRIAL, INSTALACIONES ELÉCTRICAS, BOBINADO MOTORES, REPARACIÓN MAQUINARIA, CALEFACCIÓN, BILBAO, BIZKAIA, VIZCAYA">


    <title>Gallastegui - Empresa</title>

	<link href="../img/favicon.ico" rel="SHORTCUT ICON">

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
 	 <!-- Custom Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<style type="text/css"></style></head>
  <body>
  	<header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="/media/logoga.png" style="
    width: 144px;
"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="../servicios/mantenimiento.html">Mantenimiento</a>
                    </li>
                    <li>
                        <a href="../servicios/energia.html">Energia</a>
                    </li>
                    <li>
                        <a href="../servicios/ingenieria.html">Ingenieria</a>
                    </li>
                    <li>
                        <a href="../servicios/consultoria.html">Consultoria</a>
                    </li>
                    <li class="bullet">
                        <a href="../empresa/corporacion.html">Corporación</a>
                    </li>
                    <!-- <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="full-width.html">Full Width Page</a>
                            </li>
                            <li>
                                <a href="sidebar.html">Sidebar Page</a>
                            </li>
                            <li>
                                <a href="faq.html">FAQ</a>
                            </li>
                            <li>
                                <a href="404.html">404</a>
                            </li>
                            <li>
                                <a href="pricing.html">Pricing Table</a>
                            </li>
                        </ul>
                    </li> -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</header>
<div class="jumbotron">
                <img class="img-responsive" src="/img/bg_eolic.jpg" alt="Mantenimiento, preventivo, correctivo, eléctrico, mecánico">
            </div>
  </body>
</html>
